<a href="https://colab.research.google.com/github/rekrako/classexercises/blob/main/RyanK_Birthday_ipybn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Cell 1**
1. Importing datetime library
2. variable is today, assigning datetime function to it
3. print statement using a string giving today's date

In [ ]:
import datetime as dt
today=dt.date.today()
print('today is:',today)

today is: 2022-08-23

**Cell 2**
1. assiging input function that requires an integer to several variables (bDay, bMonth, bYear)
2. Assigning your birthdate to variable BD given your answer to three previous variables
3. Calling on datetime function to print your birthday and birthdate

In [ ]:
bDay=int(input('what day of the months were you born in: '))
bMonth=int(input('what month were you born in: '))
bYear=int(input('what year were you born in: '))
BD=dt.date(bYear,bMonth,bDay)
print("you were born on: ", BD.strftime('%A %B %d %Y'))

what day of the months were you born in: 15
what month were you born in: 03
what year were you born in: 2001
you were born on:  Thursday March 15 2001

**Cell 3**
1. Importing calendar library
2. Printing the calendar year of your birthdate to confirm it is correct in previous cell

In [ ]:
import calendar
print(calendar.calendar (2001))

                                  2001

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31